[user]
	name = Aaron Tabor
	email = aarontabor50@gmail.com
[init]
	defaultBranch = master
[color]
	ui = auto
	diff = auto
[alias]
	a = add
	aa = add --all
	b = branch
	ba = branch --all
	ci = commit
	co = checkout
	d = diff
	dc = diff --cached
	l = log --oneline
	la = log --oneline --all
	ll = log
	lla = log --all
	lg = log --graph --oneline
	lga = log --graph --oneline --all
	s = status
[core]
	autocrlf = input
	precomposeunicode = true
	editor = nvim
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
